a {
    text-decoration: none;
    color: #FEAB02;
    /* display: inline; */
    top: 40%;
    position: relative;
    display: block;
    font-weight: bold;
}

.remove {
    position: relative;
    top: -5%;
    left: 89%;
}

.remove button {
    background-color: black;
    border: none;
}

.container {
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;

    background-color: black;
    border: 10px solid white;
}
  
