a {
    text-decoration: none;
    color: black;
    /* display: inline; */
    top: 10%;
    position: relative;
    display: block;
    font-weight: bold;
}

.remove {
    position: relative;
    top: -15%;
    left: 85%;
}

.remove button {
    background-color: black;
    border: none;
}

.add {
    font-weight: bold;
    font-size: 2em;
    position: relative;
    border: none;
    left: 30%;
    top: 10%;
}

.add button {
    background-color: #D61A1F;
    border: none;
}

.container {
    margin: 20px;
    padding: 20px;
    width: 200px;
    height: 200px;
    color: black;
    border: 10px solid #FEAB02;
}

  
