<div class="form-group">
    <div class="input-group">
        <div class="input-group-box">
        <div *ngIf="this.searchType == 'movies'" class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
        </div>
        <div *ngIf="this.searchType == 'person'" class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Name</span>
        </div>
        <div *ngIf="this.searchType == ''" class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
                </svg>
            </span>
        </div>
    </div>
        <input [disabled]="this.searchType == '' || (this.searchType == 'movies' && this.titleType == '')" type="text" class="form-control" placeholder="Search..." id="text-input" [(ngModel)] = "searchString">

        <select class="form-select" id="inline-dropdown" [(ngModel)] = "searchType">
            <option value="person">Actor/Actress</option>
            <option value="movies">Title</option>
        </select>

        <select [disabled]="this.searchType != 'movies'" class="form-select type" id="inline-dropdown" [(ngModel)] = "titleType">
            <option value="movie">Movie</option>
            <option value="series">Series</option>
        </select>

        <button class="btn btn-primary" [disabled]="this.searchType == '' || (this.searchType == 'movies' && this.titleType == '') || this.searchString == ''" (click)="searchService.searchMade(this.searchType, this.titleType, this.searchString)">Search</button>
    </div>
</div>
