<div class="container">
    <header>
        <div class="logo-name">
            <img class="logo" src="../../assets/images/medieval_knight_icon_white.svg">
            <span class="each-word">Knights</span>
            <span class="each-word">Who</span>
            <span class="each-word">Return</span>
            <span class="each-word">NULL</span><br>
        </div>
        <div class="search-bar">
            <app-search></app-search>
        </div>
    </header>
    <div class="main-container"> 
        <nav class="navbar-left">  
            <app-navigation></app-navigation>
        </nav>
        <div class="main">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
