<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>{{playlist.name}}</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Movie ID</th>
          <th>Poster</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{movie.imageURI}}</td>
          <td>{{movie.title}}</td>
          <!-- <td><button (click)="delete(movie.id)" class="btn btn-danger">Delete</button> -->
              <!-- <button (click)="movieDetails(movie.id)" class="btn btn-info" style="margin-left: 10px">Details</button> -->
          <!-- </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
